/* .icon-bar {
  width: 100%; 
  background-color: #555; 
  overflow: auto;
} */
/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  background-image: url("plaid.avif");
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: darkred;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
#albs {
float: right;    
 margin: 0 15px 0 0;
}
#albsl {
float: left;    
 margin: 0 15px 0 0;
}

.button {
  animation: ;
  border: none;
  color: whitesmoke;
  padding: 15px 32px;
  background-color: darkred;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  box-shadow: 4px 9px #001;

}
#tab1 {
  background-image: url("me.jpeg");
}
#tab2 {
  background-image: url("check.jpg");
}
#tab3 {
  background-image: url("3d.jpg");
}
#tab4 {
  background-image: url("cd.jpg");
}
.button:hover {background-color: #EEB4EA}

.button:active {
  background-color: #EEB4EA;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.tab-container a {
  float: left; /* Float links side by side */
  text-align: center; /* Center-align text */
  width: 20%; /* Equal width (5 icons with 20% width each = 100%) */
  padding: 12px 0; /* Some top and bottom padding */
  transition: all 0.3s ease; /* Add transition for hover effects */
  color: white; /* White text color */
  font-size: 36px; /* Increased font size */

}
.footer {
  background-color: #F1F1F1;
  text-align: center;
  padding: 10px;
}

.icon-bar a:hover {
  background-color: blueviolet; /* Add a hover color */
}

.active {
  background-color: #04AA6D; /* Add an active/current color */
}
/* body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }
        */
body {
  background-image: url("skelly.jpeg");

  margin-left: 160px;
  cursor: url("https://www.vecteezy.com/png/22286604-cursor-icon-pink-3d-render");
}
        .tab-container {
            display: flex;
            text-align: center; /* Center-align text */
            width: 100%; /* Equal width (5 icons with 20% width each = 100%) */
            padding: 12px 0; /* Some top and bottom padding */
            transition: all 0.3s ease; /* Add transition for hover effects */
            color: white; /* White text color */
            font-size: 36px; /* Increased font size */
            border-style: dotted;
            border-width: thick;
            border-color: red;

        }

        .tab {
          display: flex;
            background-color: black;
            padding: 10px 20px;
            cursor: pointer;
            width: 100%;

        }


        .tab-content {
            display: none;
        }

        .active-tab {
            background-color: red;
        }
        .tab:hover {
          background-color:darkred;
        }
        .active-content {
            display: block;
        }
